.venv
venv
__pycache__
**/__pycache__
*.py[cod]
*.db
*.sqlite
*.sqlite3
dlib-*.whl
static/frames/**
static/faces/**
static/test
!static/frames/.gitkeep
!static/faces/.gitkeep
*.md
.pytest_cache
.idea
.vscode
*.log
.env
.env.*
!.env.example
